.history {
	flex-basis: 100%;
	display: grid;
	place-items: center;
}

.history h3 {
	width: 100%;
	margin-bottom: 1rem;
}

.modalContent {
	width: min(800px, 90%);
}

.man-pointing {
	width: 100%;
	height: min(100%, 400px) !important;
	min-height: 400px;
	overflow: hidden;
	object-fit: cover;
	border-radius: 1rem;
	box-shadow: var(--shadow-elevation-high);
	z-index: 2;
	animation: manReveal 0.5s 0.5s both;
	max-width: 800px;
	margin: 0 auto;
}

@keyframes manReveal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.link {
	color: var(--font-primary);
	padding: 1rem 0;
	font-size: 2rem;
	text-align: center;
	text-decoration: none;
	transition: color 0.1s ease;
	animation: linkReveal 1s 0.5s backwards, linkFlash 8s 1.5s infinite;
	margin: 0 auto;
	margin-top: 2rem;
	padding: 1rem 2rem;
}

@keyframes linkReveal {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
	}
}

@keyframes linkFlash {
	0% {
		color: var(--font-primary);
	}
	5% {
		color: var(--color-secondary);
		transform: scale(0.95);
	}
	20% {
		transform: scale(1);
		color: var(--font-primary);
	}
	100% {
		color: var(--font-primary);
	}
}

.link:hover {
	color: white !important;
}
