.history {
	flex-basis: 100%;
	display: grid;
	place-items: center;
}

.history h3 {
	width: 100%;
	margin-bottom: 1rem;
}

.modalContent {
	width: min(800px, 90%);
	overflow-x: hidden !important;
}

.man-pointing {
	width: 90%;
	height: min(100%, 400px) !important;
	min-height: 400px;
	overflow: hidden;
	object-fit: contain;
	border-radius: 1rem;

	z-index: 2;
	animation: manReveal 1.5s 0.5s both, floatingMan 20s 2s infinite;
	max-width: 800px;
	margin: 0 auto;
}

@keyframes manReveal {
	from {
		opacity: 0;
		transform: scale(0.8);
	}
	to {
		transform: scale(1) rotate(-2deg);
		opacity: 1;
	}
}

@keyframes floatingMan {
	0% {
		transform: translate3d(0, 0, 0) rotate(-2deg);
	}
	30% {
		transform: rotate(5deg);
	}
	50% {
		transform: translate3d(0, 10px, 0) rotate(-2deg);
	}
	60% {
		transform: rotate(5deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(-2deg);
	}
}

.link {
	color: var(--font-primary);
	padding: 1rem 0;
	font-size: 2rem;
	text-align: center;
	text-decoration: none;
	transition: color 0.1s ease;
	animation: linkReveal 1s 0.5s backwards, linkFlash 8s 1.5s infinite;
	margin: 0 auto;
	margin-top: 2rem;
	padding: 1rem 2rem;
}

@keyframes linkReveal {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
	}
}

@keyframes linkFlash {
	0% {
		color: var(--font-primary);
	}
	5% {
		color: var(--color-secondary);
		transform: scale(0.95);
	}
	20% {
		transform: scale(1);
		color: var(--font-primary);
	}
	100% {
		color: var(--font-primary);
	}
}

.link:hover {
	color: white !important;
}
