.root {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.root input,
textarea {
	background-color: transparent;
	padding: 1rem;
	border: 1px var(--color-primary) solid;
	font-family: inherit;
	border-radius: var(--border-radius-sm);
	flex: 1 1 240px;
	resize: none;
}

.invalid input,
.invalid textarea {
	border: red 5px solid;
}

.formRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
}

.formRow > * {
	flex: 1 1 100%;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 2rem;
	width: 100%;
}

.invalidMsg {
	padding: 2rem;
	background-color: var(--bg-tertiary);
	border-radius: var(--border-radius-sm);
}
