.open {
	animation: openNav 0.3s cubic-bezier(0.49, 0.06, 0.1, 0.88) forwards;
}

.closed {
	animation: closeNav 0.3s ease-in-out forwards;
}

@keyframes openNav {
	0% {
		transform: translate(100%);
		opacity: 0;
	}
	100% {
		transform: translate(0);
	}
}

@keyframes closeNav {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translate(100%);
		opacity: 0;
	}
}
