.open {
	animation: openNav 0.3s ease-in-out forwards;
}

.closed {
	animation: closeNav 0.3s ease-in-out forwards;
}

@keyframes openNav {
	0% {
		transform: translate(10%);
		opacity: 0;
	}
	100% {
		transform: translate(0);
	}
}

@keyframes closeNav {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: scale(0.98);
		opacity: 0;
	}
}
