.open {
	animation: openNav 0.3s ease-out forwards;
}

.closed {
	animation: closeNav 0.3s ease-in-out forwards;
}

@keyframes openNav {
	0% {
		transform: translateX(+120%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes closeNav {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: scale(0.98);
		opacity: 0;
	}
}
