@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

.root {
	display: grid;
	gap: 0.1rem;
	align-items: center;
	justify-content: center;
	width: 100%;
	grid-template-columns: 30% 30% 30%;
	height: min(fit-content, 90vh);
}

.switchSlide {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	transform: scale(0.6);
	opacity: 0.6;
	transition: 0.2s;
	height: 100%;
	width: 100%;
}

.switchSlide:hover {
	opacity: 1;
}

.repeatBtn span {
	font-size: 5rem;
	border: solid white 4px;
	padding: 2rem;
	border-radius: 5rem;
}
