.button {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 2rem;
	transition: 0.5s;
}

.button > * {
	font-size: 2rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media (min-width: 500px) {
	.button {
		display: none;
	}
}

.hidden {
	opacity: 0;
	transform: translate(0, 10px);
	visibility: hidden;
}
