.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	grid-auto-rows: 1fr;

	justify-items: stretch;
	gap: 1rem;
	list-style: none;
}

.item {
	padding: 1.5rem;
	border-radius: 0.8rem;
	display: grid;
	place-items: center;
	text-align: center;
}

.item:nth-child(even) {
	background-color: var(--color-secondary);
}
