.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	grid-auto-rows: 1fr;

	justify-items: stretch;
	gap: 1rem;
	list-style: none;
}

.item {
	padding: 1.5rem;
	border-radius: 0.8rem;
	display: grid;
	place-items: center;
	text-align: center;
	animation: itemScale 1s ease-in-out both;
}

.item:nth-child(even) {
	background-color: var(--color-secondary);
}

@keyframes itemScale {
	from {
		transform: scale(0.5);
		opacity: 0;
	}
	to {
		transform: scale(1);
	}
}
