.footer {
	background-color: var(--bg-secondary);
	margin-top: 5rem;
	padding: 3rem;

	animation: fadeIn 1s both;
}

.list {
	display: flex;
	list-style: none;
	justify-content: space-between;
	max-width: var(--website-width);
	margin: auto;
	flex-wrap: wrap;
}

.title {
	text-align: center;
	margin-bottom: 2rem;
}

.link {
	padding: 1rem;
}

.buttons {
	display: flex;
	justify-content: center;
	max-width: var(--website-width);
	margin: auto;
	flex-wrap: wrap;
}

.buttons a,
.buttons button {
	font-size: 1rem;
}

@media (max-width: 768px) {
	.footer {
		padding-bottom: 15vh;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
