.footer {
	padding: 3rem;
	animation: fadeIn 1s both;
	background-image: url('../../../../public/assets/img/misc/layered-waves-haikei-purple.svg');
	background-size: cover;
	background-position: bottom;
}

@media screen and (min-width: 1920px) {
	.footer {
		background-image: linear-gradient(
				to top,
				var(--bg-primary) 15%,
				transparent 75%
			),
			url('../../../../public/assets/img/misc/layered-waves-haikei-purple.svg');
		background-repeat: repeat-x;
		background-position: 100% 75%;
		background-size: 100% 500%;
	}
}

.list {
	display: flex;
	list-style: none;
	justify-content: space-between;
	max-width: var(--website-width);
	margin: auto;
	flex-wrap: wrap;
}

.title {
	display: block;
	color: var(--font-primary);
	text-decoration: none;
	text-align: center;
	margin: auto;
	margin-bottom: 3rem;
	font-size: 1.8rem;
	font-weight: bold;
	width: fit-content;
	padding: 1rem;
	border-radius: 0.5rem;
}

.link {
	padding: 1rem;
}

.buttons {
	display: flex;
	justify-content: center;
	max-width: var(--website-width);
	margin: auto;
	flex-wrap: wrap;
}

.buttons a,
.buttons button {
	font-size: 1rem;
}

@media (max-width: 768px) {
	.footer {
		padding-bottom: 15vh;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
