.padding {
	padding: var(--padding-base) 0;
	margin: auto;
}

.maxWidth {
	padding: 0 var(--padding-base);
	max-width: var(--website-width);
	margin: auto;
}

.section-appear {
	animation: appear 1s forwards;
}

@keyframes appear {
	from {
		transform: scale(0.95) translate(0, -50px);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
