.list {
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-top: 2rem;
	flex-wrap: wrap;
	justify-content: center;
}

.list a,
.list .option {
	padding: 1rem;
	display: block;
	text-align: center;
	border: rgba(255, 255, 255, 0.1) solid 1px;
	border-radius: var(--border-radius-sm);
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
	display: flex;
	justify-content: center;
	gap: 1rem;
	align-items: center;
	flex-wrap: wrap;
	color: var(--font-primary);
	width: 100%;
	background-color: transparent;
	transition: 0s;
	height: 100%;
}

.list a span {
	font-size: 2rem;
	display: grid;
	place-items: center;
}

.list a p {
	flex-grow: 1;
}

.list a:hover,
.list .option:hover {
	background-color: var(--btn-primary-hover);
}

@keyframes bg-scroll {
	from {
		background-position: left;
	}
	to {
		background-position: 400%;
	}
}

@media (max-width: 600px) {
	.list li {
		flex-basis: 100%;
		word-break: break-all;
	}
}
