.list {
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-top: 2rem;
	flex-wrap: wrap;
	justify-content: center;
}

@media (max-width: 600px) {
	.list li {
		flex-basis: 100%;
		word-break: break-all;
	}
}
