.acrylic {
	--acrylic-bg: rgba(37, 37, 37, 0.733);
	color: var(--font-primary);
	background-color: var(--acrylic-bg);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2);
	border: var(--border-primary);
}

@supports (backdrop-filter: blur(5px)) {
	.acrylic {
		--acrylic-bg: rgba(37, 37, 37, 0.672);
		backdrop-filter: blur(10px);
		background-image: url('/assets/img/misc/noise5percent.webp');
	}
}
