.padding {
	padding-top: var(--padding-base);
	/* margin: auto; */
	min-height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.maxWidth {
	padding: 0 var(--padding-base);
	max-width: var(--website-width);
	margin: auto;
}

.sectionAppear {
	animation: appear 1s forwards;
}

@keyframes appear {
	from {
		transform: scale(0.98);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
