.root {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
	gap: 3rem;
	width: 100%;
	/* min-height: 70vh; */
}

.header-image {
	border-radius: 1rem;
	overflow: hidden;
	position: relative;
	min-height: 200px;
	margin-bottom: 2rem;
	display: grid;
	place-items: center;
	z-index: 1;
}

.title {
	font-size: 2rem;
	/* width: min(fit-content, 95%); */
	text-align: center;
	z-index: 2;
	padding: 2rem;
}

.title span {
	color: var(--color-primary);
}

.header-image img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	filter: blur(5px) grayscale(0.3) brightness(0.4);
}
