@import url('../../../variables.css');
.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--padding-base);
	background-color: var(--bg-primary);
	border-radius: var(--border-radius-sm);
	color: var(--font-primary);
	box-shadow: var(--shadow-elevation-high);
}
