.title {
	text-decoration: none;
	font-weight: bold;
	font-size: 2rem;
}

.title p,
.menuBtn {
	transition: 0.2s;
}

.title:hover p {
	color: var(--color-primary);
}

.nav {
	width: 100%;
	align-self: center;
	max-width: min(var(--website-width), 90vw);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--padding-base) 0;
	border-radius: var(--border-radius-sm);
	position: relative;
	z-index: 2;
}

.nav * {
	color: var(--font-primary);
}

.center {
	justify-content: center;
	align-items: center;
}

.listWrapper {
	flex: 1;
}

.btnList {
	list-style: none;
	gap: 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.menuBtn {
	margin-left: 2rem;
	padding: 0.6rem;
	border-radius: 0.6rem;
}

.menuBtn:hover {
	background-color: var(--btn-primary-hover);
}
