@import url('../../../variables.css');

.nav {
	width: 100%;
	max-width: var(--website-width);
	/* margin: auto; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--padding-base);
	border-radius: var(--border-radius-sm);
	position: relative;
	z-index: 2;
}

.nav * {
	color: var(--font-primary);
}

.center {
	justify-content: center;
	align-items: center;
}

.btnList {
	flex: 1;
	list-style: none;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
