.button {
	background-color: transparent;
	padding: 1rem;
	font-size: 1rem;
	border: 2px white solid;
	border-radius: 5rem;
	cursor: pointer;
	transition: 0.1s;
	font-weight: bold;
	position: relative;
	color: var(--font-primary);
	display: block;
	text-decoration: none;
}

.button:disabled {
	opacity: 0.2;
	cursor: crosshair;
}
.button:hover {
	background-color: var(--color-primary);
	color: var(--font-primary);
	background-size: (200%, 200%);
	border-color: transparent;
}

.special {
	text-transform: uppercase;
	background-color: var(--btn-primary);
	color: var(--font-primary);
	border: 0;
	background: rgba(98, 133, 222, 0.313);
	background: linear-gradient(
		90deg,
		var(--btn-primary) 0%,
		var(--color-complementary) 100%
	);
	background-image: linear-gradient(120deg, #836a4c, #723b80, rgb(150, 32, 32));
	background-repeat: repeat;
	background-position: left;
	box-shadow: var(--shadow-elevation-high);
	background-size: 200%, 100%;
	transition: background-position 0.4s, color 0.1s;
	border-radius: 5rem;
	width: fit-content;
	margin: auto;
	padding: 1.2rem 2rem;
}

.special:hover {
	color: var(--color-complementary);
	background-position: right;
}

.danger {
	border-color: var(--btn-danger);
}

.secondary {
	border-color: transparent;
}

.nav {
	border: 0;
	font-size: 1.5rem;
	display: grid;
	place-items: center;
}

.callToAction {
	padding: 1rem 2rem;
	border: 0;
	background-color: var(--btn-primary);
	font-weight: bold;
}

.callToAction:hover {
	background-color: var(--btn-primary-hover);
}

.glow {
	width: fit-content;
	border: 0;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 2rem;
	padding: 1rem 2rem;
	font-size: 1.2rem;

	box-shadow: var(--shadow-elevation-high);
}

.glow:before {
	content: '';
	background: rgb(166, 111, 255);
	background: linear-gradient(90deg, rgba(166, 111, 255, 1) 0%, #5c02ed 100%);
	position: absolute;
	top: 0;
	left: 0;
	background-size: 100%;
	z-index: -2;
	width: 100%;
	height: 100%;
	animation: glowing 30s linear infinite;
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
	border-radius: 2rem;
	box-shadow: inset -5px -10px 15px rgba(0, 0, 0, 0.323),
		inset 5px 10px 15px rgba(255, 255, 255, 0.123);
}

.glow:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 2rem;
	transform: scale(1);
	pointer-events: none;
	transition: 0.3s;
}

.glow:hover::after,
.glow:hover {
	background-color: var(--btn-primary-hover);
}

.glow:hover::before {
	opacity: 0;
}

@media (max-width: 768px) {
	.glow {
		font-size: 1rem;
	}
}
