.button {
	background-color: transparent;
	padding: 1rem;
	font-size: 1rem;
	border: 2px white solid;
	border-radius: 5rem;
	cursor: pointer;
	transition: 0.1s;
	font-weight: bold;
	/* margin: 0.5rem; */
	position: relative;
	color: var(--font-primary);
	display: block;
}

.button:disabled {
	opacity: 0.2;
	cursor: crosshair;
}
.button:hover {
	/* transform: translate(0, 1px); */
	background-color: var(--color-primary);
	color: var(--font-primary);
	background-size: (200%, 200%);
	border-color: transparent;
}

.special {
	text-transform: uppercase;
	background-color: var(--btn-primary);
	color: var(--font-primary);
	border: 0;
	background: rgba(98, 133, 222, 0.313);
	background: linear-gradient(
		90deg,
		var(--btn-primary) 0%,
		var(--color-complementary) 100%
	);
	background-image: linear-gradient(
		120deg,
		#836a4c,
		#723b80,
		rgb(150, 32, 32)
	);
	background-repeat: repeat;
	background-position: left;
	box-shadow: var(--shadow-elevation-high);
	background-size: 200%, 100%;
	transition: background-position 0.4s, color 0.1s;
	border-radius: 5rem;
	width: fit-content;
	margin: auto;
	padding: 1.2rem 2rem;
}

.special:hover {
	color: var(--color-complementary);
	background-position: right;
}

.danger {
	border-color: var(--btn-danger);
}

.secondary {
	border-color: transparent;
}

.nav {
	border: 0;
	font-size: 1.5rem;
	display: grid;
	place-items: center;
}

.callToAction {
	padding: 1rem 2rem;
	border: 0;
	background-color: var(--btn-primary);
	font-weight: bold;
}

.callToAction:hover {
	background-color: var(--btn-primary-hover);
}

.glow {
	width: fit-content;
	border: 0;
	color: black;
	background: var(--btn-primary);
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 2rem;
	padding: 1rem 2rem;
	font-size: 1.2rem;
}

.glow:before {
	content: '';
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(15px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 2rem;
}

/* .glow:active {
	color: #000;
}

.glow:active:after {
	background: transparent;
} */

.glow:hover:before {
	opacity: 0.5;
}

.glow:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--btn-primary);
	left: 0;
	top: 0;
	border-radius: 2rem;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

@media (max-width: 768px) {
	.glow {
		font-size: 1rem;
	}

	.glow::before {
		opacity: 0.5;
	}
}
