.root {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 1rem;
	margin-bottom: 2rem;
}

.root > * {
	background-color: transparent;
	box-shadow: var(--shadow-elevation-medium);
	border: 0;
	aspect-ratio: 1/1;
	object-fit: cover;
	width: min(39%, 20rem);
}

.root img {
	width: 100%;
	height: 100%;
}

.title {
	margin-bottom: 2rem;
}
