.root {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	gap: 1rem;
	margin-bottom: 2rem;
}

.root > * {
	background-color: transparent;
	box-shadow: var(--shadow-elevation-medium);
	border: 0;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.root img {
	width: 100%;
	height: 100%;
	max-width: 350px;
}

.button {
	cursor: pointer;
	border-radius: 1rem;
	overflow: hidden;
	transition: 0.1s 0s ease-out, transform 0.5s 0.1s;
}

@media (min-width: 768px) {
	.button:hover {
		outline: var(--btn-primary) 5px solid;
		box-shadow: var(--btn-primary) 0 0 20px;
		transform: scale(1.03);
	}
}
