.root {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	grid-auto-rows: 1fr;
	width: 100%;
	gap: 1rem;
	margin-bottom: 2rem;
}

.root > * {
	background-color: transparent;
	box-shadow: var(--shadow-elevation-medium);
	border: 0;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.root img {
	width: 100%;
	height: 100%;
}

.title {
	margin-bottom: 2rem;
}
