.imgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: min(100%, 100vw);
	height: min(100vh, 100%);
	top: 0;
	left: 0;
	z-index: 2000;

	pointer-events: none;

	animation: appearImg 0.2s 0.1s both;
}

.imgContainer img {
	max-width: 80%;
	max-height: min(80vh, 80%);
	box-shadow: rgba(0, 0, 0, 0.8) 0px 30px 90px;
	border-radius: var(--border-radius-base);
	outline: 2px rgba(128, 128, 128, 0.227) solid;
}

.backdrop {
	animation: appear 0.2s both;
	cursor: zoom-out;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(20px);
	z-index: 2000;
}

@keyframes appearImg {
	from {
		opacity: 0;
		transform: translate3d(0, 10px, 0);
	}
	to {
		opacity: 1;
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
