.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  height: 100%;
  pointer-events: none;

  animation: appearImg 0.2s 0.1s both;
  transition: transform 0.2s;
}

.tooltip {
  opacity: 0.5;
  margin-top: 8px;
  font-style: italic;
  @media screen and (max-width: 900px) {
    visibility: hidden;
  }
}

.imgContainer img {
  height: auto;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 30px 90px;
  border-radius: var(--border-radius-sm);
  border: 2px rgba(128, 128, 128, 0.227) solid;
  aspect-ratio: auto;
  object-fit: cover;
  max-height: 95vh;
  max-width: 95vw;
}

.backdrop {
  animation: appear 0.2s both;
  cursor: zoom-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  z-index: 2000;
}

@keyframes appearImg {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
