
.goals {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
	background-color: var(--bg-tertiary);
	padding-bottom: 2rem;
	border-radius: var(--border-radius-lg);
	overflow: hidden;
}

.goals h2 {
	background-color: var(--color-primary);
	padding: 2rem;
}

.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
}

.list li {
	padding: var(--padding-base);
	border: 1px var(--color-primary) solid;
	border-radius: var(--border-radius-sm);

	display: flex;
	gap: 2rem;
	/* justify-content: space-between; */
	align-items: center;
}

.list li span {
	font-size: 2rem;
	background-color: blueviolet;
	padding: 1rem;
	border-radius: var(--border-radius-lg);
}

.button {
	margin-top: 2rem;
}
