.button {
	font-size: 1.2rem;
	padding: var(--min-padding) 0;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	text-decoration: none;
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 0.2rem;
	color: var(--font-primary);
	text-decoration: none;
	animation: showButton 0.6s cubic-bezier(0.21, 0.19, 0.11, 0.96) backwards;
}

.button:hover,
.button:hover * {
	color: var(--color-primary);
}

.icon {
	display: grid;
	place-items: center;
}

.list {
	list-style: none;
	display: flex;
}

@keyframes showButton {
	from {
		opacity: 0;
		transform: translate3d(50px, 0, 0);
	}
	to {
		transform: scale(1);
	}
}
