.enter {
	opacity: 0;
	transform: translate(-50%, -50%) scale(0.9) !important;
}

.enterActive {
	opacity: 1;
	transition: all 300ms ease-in-out;
	transform: translate(-50%, -50%) scale(1) !important;
}

.exit {
	opacity: 1;
}

.exitActive {
	opacity: 0;
	transition: all 300ms;
	transform: translate3d(-50%, -48%, 0) scale(0.9);
}
