.backdropEnter {
	animation: backdropAnimation 0.3s ease-in-out forwards;
}

.backdropExit {
	animation: backdropAnimation 0.3s ease-in-out forwards;
}

@keyframes backdropAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
