.card {
	padding: 1rem;
	padding-right: 2.5rem;
	border-radius: 4rem;
	display: flex;
	gap: 1rem;
	align-items: center;
	border: 0;
}

@media (max-width: 768px) {
	.card {
		background-color: transparent;
		width: 100%;
		backdrop-filter: none;
		box-shadow: none;
		background-image: none;
	}
}
