.nextTo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin-top: 3rem;
	gap: 8rem;
}

.sectionWidth {
	max-width: min(var(--website-width), 90vw);
	margin: auto;
	width: 100%;
}

.homeAnim {
	animation: fade-in 1s forwards;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.filler {
	flex: 1 1 0;
	visibility: hidden;
}

@media (max-width: 1150px) {
	.filler {
		display: none;
	}
}
