.about-me {
	gap: 2rem;
	display: flex;
	max-width: 90vw;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: var(--website-width);
	flex: 0 1 1;
}

.image img {
	transform: scale(1);
	width: 200px;
	object-fit: cover;
	object-position: bottom;
	filter: grayscale(1);
}

.image::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(
		120deg,
		var(--btn-danger),
		transparent,
		var(--btn-primary)
	);
	background-size: 150%;
	animation: bgFlow 10s infinite, bgSpin 40s infinite linear;
}

@keyframes bgFlow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes bgSpin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.image {
	z-index: 1;
	position: relative;
	border-radius: 50%;
	overflow: hidden;

	margin: auto;
	aspect-ratio: 1/1;
}

.text {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1rem;
	flex-grow: 1;
}

.title {
	font-size: 2rem;
}

.text p {
	margin-bottom: 2rem;
	flex-grow: 1;
}

.button {
	width: fit-content;
}

@media (max-width: 600px) {
	.text {
		text-align: center;
	}
	.button {
		margin: auto;
	}
}
