.about-me {
	gap: 2rem;
	display: flex;
	max-width: 90vw;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: var(--website-width);
	flex: 1 1 500px;
}

.image img {
	max-height: min(250px, 13rem);
	object-fit: cover;
	transform: scale(1.6);
	aspect-ratio: 1/1;
}

.image {
	border-radius: 50%;
	overflow: hidden;
	filter: grayscale(0.5);
	margin: auto;
	aspect-ratio: 1/1;
}

.text {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1rem;
	flex-grow: 1;
}

.title {
	font-size: 2rem;
}

.text p {
	margin-bottom: 2rem;
	flex-grow: 1;
}

.button {
	width: fit-content;
}

@media (max-width: 600px) {
	.text {
		text-align: center;
	}
	.button {
		margin: auto;
	}
}
