.about-me {
	border-radius: var(--border-radius-base);
	/* padding: 2rem; */
	/* margin: var(--min-padding); */
	gap: 2rem;
	display: flex;
	/* margin: 1rem auto; */
	max-width: 90vw;
	flex-wrap: wrap;
	justify-content: center;
	max-width: var(--website-width);
	flex: 1 1 500px;
}

.image img {
	max-height: 250px;
	object-fit: cover;
	aspect-ratio: 1/1;
	transform: scale(1.6);
}

.image {
	border-radius: 50rem;
	overflow: hidden;
	filter: grayscale(0.5);
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1rem;
	padding: 1rem;
}

.title {
	font-size: 2rem;
}

.text p {
	margin-bottom: 2rem;
	flex-grow: 1;
}
