.content {
	width: min(90%, 1280px);
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--bg-primary);
	border-radius: var(--border-radius-sm);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	color: var(--font-primary);
	z-index: 1040;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 22px 38px 0px,
		rgba(0, 0, 0, 0.5) 0px 2px 4px 0px,
		rgba(255, 255, 255, 0.09) 0px 0px 0px 1px inset;
	max-height: 90%;
}

.header {
	background-color: var(--bg-tertiary);
	padding: var(--padding-base);
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.children {
	padding: var(--padding-base);
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.close {
	background-color: transparent;
	border: 0;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.2rem !important;
	border-radius: var(--border-radius-base);
	cursor: pointer;
	transition: opacity 0s;
	transition: transform 0.3s, box-shadow 0.3s;
	font-size: 2rem;
	display: grid !important;
	align-items: center !important;
	justify-items: center !important;
	opacity: 0.7;
}

.close svg {
	filter: brightness(10) contrast(0.01);
	margin: 1px;
}

.close:hover {
	transform: scale(0.95);
	opacity: 1;
	background-color: transparent;
}

@supports (backdrop-filter: blur(10px)) {
	.children {
		background-color: rgba(20, 20, 20, 0.4);
	}
	.header {
		background-color: rgba(20, 20, 20, 0.4);
		border-bottom: var(--border-primary);
	}
	.content {
		background-color: transparent;
		backdrop-filter: blur(45px) saturate(1.5);
	}
}
