.root ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: space-evenly;
	width: min(50vw, 100%);
	gap: 1rem;
	list-style: none;
	width: 100%;
	margin-top: 1rem;
}

.root ul li {
	flex-basis: 140px;
}