@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('./variables.css');
@import url('./assets/css/acrylic.css');

body {
	overflow-y: scroll;
	font-family: 'Lato', sans-serif;
	background-color: var(--bg-primary);
	color: var(--font-primary);
	min-height: 100vh;
}

* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 12px;
	width: 0.3rem;
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--btn-primary) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--btn-primary-hover) !important;
}

/* CHROME */

::-webkit-scrollbar-thumb {
	background: transparent;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
