@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('./variables.css');

html {
	overflow-y: scroll;
}

body {
	font-family: 'Lato', sans-serif;
	background: var(--bg-primary);
	color: var(--font-primary);
}

* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}