:root {
	/* Dimensions */
	--website-width: 1200px;
	--modal-width: 40rem;

	/* Border radius variables */
	--border-radius-base: 2rem;
	--border-radius-sm: 0.7rem;
	--border-radius-lg: 3rem;
	--border-radius-xl: 4rem;

	/* Padding variables */
	--min-padding: 1.5rem;
	--padding-base: 2rem;
	--padding-large: 3rem;
	--padding-xlarge: 4rem;
	--padding-xxlarge: 5rem;

	/* Project color palette */
	--color-primary: hsl(263, 100%, 72%);
	--color-secondary: hsl(263, 39%, 18%);
	--color-complementary: #c1ea7f;

	/* Bg color palette */
	--bg-primary: hsl(215, 35%, 11%);
	--bg-secondary: hsl(215, 35%, 18%);
	--bg-tertiary: hsl(215, 35%, 25%);

	/* Buttons colors */
	--btn-primary: hsl(263, 100%, 72%);
	--btn-primary-hover: hsl(263, 50%, 50%);
	--btn-secondary: #6b6767;
	--btn-danger: hsl(0, 63%, 49%);

	/* font colors */
	--font-primary: #fff;
	--font-secondary: #fff;
	--font-tertiary: #fff;

	/* borders */
	--border-primary: 1px solid rgba(255, 255, 255, 0.2);
	--border-important: 1px solid var(--color-primary);

	/* box shadow */
	--shadow-color: 0deg 0% 0% 0.4;
	--shadow-elevation-low: 0.2px 0.2px 0.3px hsla(var(--shadow-color) / 0.11),
		0.4px 0.4px 0.6px -1.3px hsla(var(--shadow-color) / 0.1),
		0.9px 0.9px 1.4px -2.5px hsla(var(--shadow-color) / 0.1);
	--shadow-elevation-medium: 0.2px 0.2px 0.3px hsla(var(--shadow-color) / 0.11),
		0.8px 0.7px 1.2px -0.8px hsla(var(--shadow-color) / 0.11),
		1.9px 1.8px 2.9px -1.7px hsla(var(--shadow-color) / 0.11),
		4.7px 4.3px 7.1px -2.5px hsla(var(--shadow-color) / 0.11);
	--shadow-elevation-high: 0.2px 0.2px 0.3px hsla(var(--shadow-color) / 0.12),
		1.5px 1.4px 2.3px -0.4px hsla(var(--shadow-color) / 0.12),
		3px 2.8px 4.6px -0.8px hsla(var(--shadow-color) / 0.12),
		5.3px 4.9px 8.1px -1.3px hsla(var(--shadow-color) / 0.12),
		9.1px 8.4px 13.8px -1.7px hsla(var(--shadow-color) / 0.12),
		14.9px 13.8px 22.7px -2.1px hsla(var(--shadow-color) / 0.12),
		23.6px 21.7px 35.8px -2.5px hsla(var(--shadow-color) / 0.11);
	--shadow-elevation-xl: rgb(255 255 255 / 10%) 0 1px 1px 0 inset,
		rgba(17, 17, 32, 0.078) 0 20px 50px -20px,
		rgba(0, 0, 0, 0.173) 0 10px 50px -30px;
}
