.card,
.cardWrapper {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	/* border: 1px var(--color-primary) solid; */
	border-radius: 1rem;
	flex: 1 0 min(300px, 100%);
	justify-content: flex-start;
	background: var(--bg-secondary);
}

.cardWrapper {
	border-radius: 1.2rem;
	box-shadow: var(--shadow-elevation-medium);
	padding: 0.2rem;
	background: #7b4397; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#dc2430,
		#7b4397
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#dc2430,
		#7b4397
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.subTitle {
	opacity: 0.8;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.title {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.desc {
	list-style: none;
	padding-right: 1rem;
	flex-grow: 1;
}

.desc li::before {
	content: '> ';
}

.link {
	margin-top: 1.2rem;
	width: 100%;
	text-align: center;
	border: 1px solid white;
	padding: 1rem;
	border-radius: 1rem;
}

.button {
	margin: 0 auto 0 auto;
	margin-top: 2rem;
}

@media (min-width: 800px) {
	.cardWrapper {
		transition: 0.2s;
	}

	.cardWrapper:hover {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
			rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
		transform: scale(1.02);
	}

	.card {
		transition: 0.2s;
	}

	.cardWrapper:hover .card {
		transform: scale(0.98);
		box-shadow: rgba(221, 82, 170, 0.386) 0 0 20px;
	}
}
