.root {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info {
  background-color: var(--bg-secondary);
  padding: 1rem;
  width: min(600px, 95%);
  border-radius: 1rem;
  border: 4px rgba(255, 0, 0, 0.354) solid;
}
