.devText {
	color: var(--color-primary);
}

.bigText {
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: -0.8rem;
	text-align: center;
}

.upperText {
	margin-bottom: 2.5rem;
}

.upperTextSub {
	padding: 1rem 0.2rem;
	text-align: center;
	border-radius: 2rem;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.4rem;
}

.info {
	line-height: 2rem;
	font-size: 1.2rem;
}

.button {
	margin-top: 3rem;
}
