.welcome {
	background-size: cover;
	/* height: min(85vh); */

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.welcome * {
	display: block;
}

.button {
	margin: 0;
	z-index: 1;
	text-decoration: none;
}

.main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: auto;
	position: relative;
	width: 100%;
	z-index: 1;
	gap: 2rem;
	align-items: center;
}

.programmer {
	opacity: 0.4;
	position: absolute;
	top: 0;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	width: 100%;
	animation-duration: 1s;
}

.overlay {
	opacity: 1;
	z-index: 0;
	background: linear-gradient(to bottom, transparent 80%, var(--bg-primary));
	pointer-events: none;
}

@media (min-width: 800px) {
	.programmer {
		object-position: 5vw;
	}
}

.section-appear {
	animation: appear 1s forwards;
}

@keyframes appear {
	from {
		transform: scale(0.95) translate(0, -50px);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: none;
	}
}

.welcomeLowerText {
	opacity: 0.7;
}
